.brand{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body{
    padding:  20px 50px;
    
}
.header{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      font-size: 32px
}
.sub-text{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      font-size: 32px
}