
body{


    display: flex;
    flex-direction: row;
}
.image{
    height: 100vh;
    width: 50vw;
    
}

.Form{
    background-image: linear-gradient(#1a191956, #a3999900);
    box-shadow: 0px 4px #00000029;
    height: 75vh;
    width: 35vw;
    margin-left: 5vw;
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

.header{
    color: #ffffff;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    font-size: 48px;
    margin: 0px;
}
.sub-head{
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      font-size: 32px
}

.inputs{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      font-size: 20px;
    
    width: 60%;
    margin-left: 15%;
    height:12%;
    margin-top: 4%;
    padding-left: 20px;
    background-color: #ffffffa0;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 4px #00000036;
    }

    .contBtn{
    width: 60%;
    margin-left: 17%;
    height:12%;
    padding-top: 15px;
    padding-bottom: 40px;
    margin-top: 4%;
    
    text-decoration: none;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 4px #00000036;
    background-color: #000000;
    color: #ffffff;
    font-size: 24px;
    }
